<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://matttoliusis.netlify.com/">Matt</a>.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Matt Toliusis</h2>
      <br />
      <p>
        Matt Toliusis is a mortgage loan officer at JPMorgan Chase in Phoenix, AZ, but is currently working towards becoming a web developer. He previously worked for Pinal County Federal Credit Union as a consumer loan officer, and it was there that he learned the basics of HTML and CSS.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />